*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    margin-bottom: 40px;
}
body{
    background-color: whitesmoke;
}
/* nav */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #fff;
}
.navbar .logo a{
    text-decoration: none;
    color: #207561;
}
.logo ,.bars{
    visibility: hidden;
}



.nav-ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 10px;

}
.show{
    list-style: none;
    display: block;
        position: absolute;
    background-color: whitesmoke;
    width: 30%;
    text-align: center;
    justify-content: space-around;
    top: 0px;
    right: 0;
    margin-top: 0;

}

.navbar ul li a.active{
    color: #207561;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
}
.navbar ul li a:hover{
    color: #207561 ;
}
.navbar ul li h1 a{
    color:#207561 ;
}
/* End nav */
/* hero sectoin */
.hero{
    
    position: relative;
    height: 100vh;
}

  
  
.hero img{
    float: right;
max-width: 100%;
max-height: 100%;
}
.hero-text{
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: x-large;
}
.hero-text button{
    border-radius: 20px;
    background-color: #207561;
    color: white;
    font-size: 20px;
    width: 50%;
    transition: 0.5s;
}
.hero-text button:hover{
    background-color: black;
}
/* End hero */
/* new section */
.new-section{
    width: 100%;
    text-align: center;
    margin: 2% 0;
    margin-bottom: 3%;
}
/* my services */
.my-sevices{display: flex;
    flex-direction: row;
    justify-content: space-around;

flex-wrap: wrap;}
.my-sevices .card{
    width: 40%;
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    border: none;
    margin: 10px 0;
    transition: 0.5s;
}
.card .icons{
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #207561;
    text-align: center;
    margin: 16px;

}
.card .icons img{
    color: white;
}
.card .icons i{
    color: white;
    margin: 10px;
}
.card .text-section{
    display: flex;
    flex-wrap: wrap;
    gap: 1;
    align-items: center;
    width: 60%;
    font-size: 15px;
    margin: 16px;
}
.card:hover{
    box-shadow: 0 8px 50px -5px rgba(0, 0, 0, 0.1);
    top: -2px;    
}
/* end Services */
/* about-section */
.about-section{
    margin-left: 6%;
    width: 30%;
}
.about-section h2{position: relative;
padding-bottom: 20px;}
.about-section h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #207561;
    width: 50px
}
.about-img{
    max-width: 100%;
    max-height: 100%;
}
/* End About */
/* portfolio */
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.post {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.post img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), grey);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;

}

.layer i {
    margin-top: 20px;
    color: black;
    flex-direction: 18px;
    line-height: 60px;
    width: 60px;
    background-color: #fff;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.post:hover img {
    transform: scale(1.1);
}

.post:hover .layer {
    height: 100%;
}




/*End portfolio */

/* testo */
.carousel-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    text-align: center;
    background-color: #343a40;
    color: white;
  }
  .carousel-container h1{
    position: relative;
  }
  .carousel-container h1::after{
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    top: 79px;
    left: 47%;
    background-color: white;
  }
  
  .paragraphs {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: stretch;
  }
  
  .paragraphs p {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0;
    padding: 75px;
  }
  .paragraph.active {
    opacity: 1;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
  }
  
  .prev-button {
    left: 0;
  }
  
  .next-button {
    right: 0;
  }
  /* End testo */
  /* Clients */
  .clients{
    margin-top: 10%;
  }
  /* Contact Form */
  form input , form textarea{
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
  }
  form input:hover , form textarea:hover{
border-color: black;  
}
  .submit{
    border-radius: 20px;
    background-color: #207561;
    color: white;
    font-size: 20px;
    transition: 0.5s;
    width: 30%;
}
.submit:hover{
    background-color: black;
}

/* foooter */

footer ul{
    list-style: none;
padding: 0;}
footer a{
    text-decoration: none;
    color: grey;
}
footer i {
    margin-left: 3px;
}
footer a:hover{
    color: black;
}

/* screens */
@media (max-width:767px) {
    .navbar{
        background-color: transparent;
    }
    .navbar:hover{
        background-color: transparent;
    }
    .nav-ul{
        visibility: hidden;
        display: none;
        
    }
    .logo-li{
        display: none;
    }
    .logo ,.bars{
        visibility: visible;
    }
    .hero-text{
        max-width: 300px;
    }
    .my-sevices .card{
        width: 100%;
    }
   
}